:root {
    --text-color: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
    --accent-color: hsl(158, 36%, 37%);
    --text-dark: hsl(212, 21%, 14%);
    --bg-color: hsl(30, 38%, 92%);
    --hover-color: hsl(158, 36%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    background-color: var(--bg-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

footer {
    flex-shrink: 0;
}

.product-card {
    max-width: 25rem;;
    background-color: var(--white);
    border-radius: 1rem;
}

img {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.desktop-img {
    display: none;
}

.mobile-img {
    display: block;
    width: 100%;
    height: auto;
}

.content-div {
    padding: 1.6rem;
}

h2 {
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: 0.5rem;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Fraunces', sans-serif;
    color: var(--text-dark);
    padding: 1rem 0;
}

p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}

.price-container {
    padding: 1rem 0;
    display: flex;
    align-items: center;
}

.discount-price {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: 'Fraunces', sans-serif;
    color: var(--accent-color);
}

.og-price {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    padding: 1rem;
}

button .text {
    color: var(--white);
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    padding: 0.5rem;
}

button {
    background-color: var(--accent-color);
    border: none;
    width: 100%;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

button:hover {
    background-color: var(--hover-color);
}

.attribution a {
    text-decoration: none;
}

@media screen and (min-width: 625px) {
    .mobile-img {
        display: none;
    }
    
    .desktop-img {
        display: block;
        width: 100%;
        height: auto;
    }

    .product-card {
        display: flex;
        flex-direction: row;
        max-width: 40rem;
    }

    img {
        border-radius: 0;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .image-div {
        width: 50%;
    }

    .content-div {
        width: 50%;
    }
}   